{% extends "base.html" %}
{% block title %}
ASSIGNMENTS
{% endblock %}


{% block content %}

      <div>
          <h1 class="title">CSCB63: Design and Analysis of Data Structures</h1>
      </div>
      
      <section class="section">
        <h2>Assignment 1</h2>
        <div class="info">
            <p>To be submitted to gradescope.</p>
            <p> <a href="../static/dummy.pdf">&nbsp;&nbsp;&nbsp;&nbsp; a1.pdf</a> , 
                <a href="../static/a1.tex">a1.tex</a>  
                Small update Jan. 27 (noted in red)
            </p>
        </div>
      </section>


      <section class="section">
        <h2>Assignment 2</h2>
        <div class="info">
            <p>To be submitted to gradescope.</p>
            <p> <a href="../static/dummy.pdf">&nbsp;&nbsp;&nbsp;&nbsp; a2.pdf</a> , 
                <a href="../static/a1.tex">a2.tex</a>  
                Note new due date.
            </p>
        </div>
      </section>


      <section class="section">
        <h2>Assignment 3</h2>
        <div class="info">
            <p>To be submitted to gradescope.</p>
            <p> <a href="../static/dummy.pdf">&nbsp;&nbsp;&nbsp;&nbsp; a3.pdf</a> , 
                <a href="../static/a1.tex">a3.tex</a>  
                Note new due date (Sunday March 21 at noon).
            </p>
        </div>
      </section>


{% endblock %}