{% extends "base.html" %}
{% block title %}
COURSE TEAM
{% endblock %}


{% block content %}

      <div>
          <h1 class="title">CSCB63: Design and Analysis of Data Structures</h1>
      </div>
      

      <section class="section">
        <h2>Instructor</h2>
        <div class="picture">
            <img src="../static/Anna_Bretscher.png" alt="">
        </div>
        <div class="prof">
            <p>NAME:&nbsp;&nbsp;Dr. Anna Bretscher</p>
            <p>Email:&nbsp;&nbsp;anna.bretscher@utoronto.ca </p>
            <p>Office: &nbsp;&nbsp;IC 493</p>
            <p>Office Hours: Monday 11:30 a.m. - 1:30 p.m.</p>
        </div>
      </section>

      <section class="section">
        <h2>Teaching Assistants</h2>
        <div class="picture">
            <img src="../static/Abbas.png" alt="">
        </div>
        <div class="prof">
            <p>NAME:&nbsp;&nbsp; Abbas Attarwala</p>
            <p>Email:&nbsp;&nbsp;Abbas Attarwala@utoronto.ca </p>
            <p>Office: &nbsp;&nbsp;IC 349</p>
            <p>Office Hours: Monday 11:30 a.m. - 1:30 p.m.</p>
        </div>

        <div class="picture">
            <img src="../static/Member.png" alt="">
        </div>
        <div class="prof">
            <p>NAME:&nbsp;&nbsp;Sakina Gadriwala</p>
            <p>Tutorial:&nbsp;&nbsp;TUT 0001 </p>
            <p>Office Hours: Monday 1:00p.m. - 2:00 p.m.</p>
        </div>

        <div class="picture">
            <img src="../static/Member.png" alt="">
        </div>
        <div class="prof">
            <p>NAME:&nbsp;&nbsp;Moe Ali</p>
            <p>Tutorial:&nbsp;&nbsp;TUT 0002 </p>
            <p>Office Hours: Monday 12:00p.m. - 1:00 p.m.</p>
        </div>


        <div class="picture">
            <img src="../static/Member.png" alt="">
        </div>
        <div class="prof">
            <p>NAME:&nbsp;&nbsp;Maunica Toleti</p>
            <p>Tutorial:&nbsp;&nbsp;TUT 0003 </p>
            <p>Office Hours: Monday 1:00p.m. - 2:00 p.m.</p>
        </div>

        <div class="picture">
            <img src="../static/Member.png" alt="">
        </div>
        <div class="prof">
            <p>NAME:&nbsp;&nbsp;Tabeeb Teamin</p>
            <p>Tutorial:&nbsp;&nbsp;TUT 0004 </p>
            <p>Office Hours: Friday 2:00p.m. - 3:00 p.m.</p>
        </div>

        <div class="picture">
            <img src="../static/Member.png" alt="">
        </div>
        <div class="prof">
            <p>NAME:&nbsp;&nbsp;Vidya Ananda</p>
            <p>Tutorial:&nbsp;&nbsp;TUT 0006 </p>
            <p>Office Hours: Thursdays 12:00p.m. - 1:00 p.m.</p>
        </div>


        </section>
      
{% endblock %}